{{extend 'layout.html'}}
{{=A('Edytuj', _href=URL("firm", "edit", vars={"firm_id":request.vars["firm_id"]}))}}   |   
{{=A('Przedstawiciele', _href=URL("firm", "representatives", vars={"firm_id":request.vars["firm_id"]}))}}   |   
{{=A('Historia współpracy', _href=URL("transaction", "archive", vars={"firm_id":request.vars["firm_id"]}))}}   |   
{{if(likable):}}
{{=A('Lubię to!', _href=URL("firm", "like", vars={"firm_id":request.vars["firm_id"]}))}}
{{else:}}
{{=A('Nie lubię!', _href=URL("firm", "dislike", vars={"firm_id":request.vars["firm_id"]}))}}
{{pass}}
{{=form}}
<div class="detailBox">
    <div class="commentBox">
        
        <p class="taskDescription">Komentarze użytkowników</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
			{{for comment in comments:}}
            <li>
                <div class="commentText">
                    <p class="">{{=comment.comment}}</p>
                    <span class="date sub-text">
                    	<b>
							~{{=db.auth_user(comment.self_representative_id).first_name, }}
							{{=db.auth_user(comment.self_representative_id).last_name}}
						</b>
						{{if(comment.outer_representative_id != None):}}
						obsługiwany przez: 
						<b>
							{{=db.representatives(comment.outer_representative_id).name,}}
							{{=db.representatives(comment.outer_representative_id).surname}}
						</b>
						{{pass}}
					</span>
                    <span class="date sub-text">{{=comment.date}}</span>
                </div>
            </li>
			{{pass}}
        </ul>
    </div>
</div>
{{=add}}

